# Бонусное домашнее задание (pandas).

In [53]:
import pandas as pd

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [54]:
#your code here
data_0 = pd.read_csv('Students_info_0.csv')
data_1 = pd.read_csv('Students_info_1.csv')
data_2 = pd.read_csv('Students_info_2.csv')
data_3 = pd.read_csv('Students_info_3.csv')
data_5 = pd.read_csv('Students_info_5.csv')
data_6 = pd.read_csv('Students_info_6.csv')
data_7 = pd.read_csv('Students_info_7.csv')
data_8 = pd.read_csv('Students_info_8.csv')
data_9 = pd.read_csv('Students_info_9.csv')
data_4 = pd.read_csv('Students_info_4.csv')
datas = [data_0, data_1, data_2, data_3, data_4, data_5, data_6, data_7, data_8, data_9]
df_s = data_0
for i in range(1, 10):
    df_s = pd.concat([df_s, datas[i]])
    
df_s.to_csv("df_s.csv") # только про студентов (без оценок)

data_0m = pd.read_csv('Students_marks_0.csv')
data_1m = pd.read_csv('Students_marks_1.csv')
data_2m = pd.read_csv('Students_marks_2.csv')
data_3m = pd.read_csv('Students_marks_3.csv')
data_4m = pd.read_csv('Students_marks_4.csv')
data_5m = pd.read_csv('Students_marks_5.csv')
data_6m = pd.read_csv('Students_marks_6.csv')
data_7m = pd.read_csv('Students_marks_7.csv')
data_8m = pd.read_csv('Students_marks_8.csv')
data_9m = pd.read_csv('Students_marks_9.csv')

df_m = data_0m
datas_m = [data_0m, data_1m, data_2m, data_3m, data_4m, data_5m, data_6m, data_7m, data_8m, data_9m]
for i in range(1, 10):
    df_m = pd.concat([df_m, datas_m[i]])
 
df_m = df_m.drop(columns='index')
df_m.to_csv("df_m.csv") # только про оценки


df = pd.concat([df_s, df_m], axis=1) # ОКОНЧАТЕЛЬНАЯ ТАБЛИЦА 0-999: инфа про студентов и их оценко
df.to_csv("df.csv")
print(df.head(3))

   index  gender race/ethnicity parental level of education     lunch  \
0      0  female        group B           bachelor's degree  standard
1      1  female        group C                some college  standard
2      2  female        group B             master's degree  standard

  test preparation course   group  math score  reading score  writing score
0                    none  group1          72             72             74
1               completed  group1          69             90             88
2                    none  group1          90             95             93

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [55]:
df = df.drop(columns='index')
print(df.head(10))

   gender race/ethnicity parental level of education         lunch  \
0  female        group B           bachelor's degree      standard
1  female        group C                some college      standard
2  female        group B             master's degree      standard
3    male        group A          associate's degree  free/reduced
4    male        group C                some college      standard
5  female        group B          associate's degree      standard
6  female        group B                some college      standard
7    male        group B                some college  free/reduced
8    male        group D                 high school  free/reduced
9  female        group B                 high school  free/reduced

  test preparation course   group  math score  reading score  writing score
0                    none  group1          72             72             74
1               completed  group1          69             90             88
2                    none  group1          90             95             93
3                    none  group1          47             57             44
4                    none  group1          76             78             75
5                    none  group1          71             83             78
6               completed  group1          88             95             92
7                    none  group1          40             43             39
8               completed  group1          64             64             67
9                    none  group1          38             60             50

#### Задание 3. Выведите на экран размеры полученной таблицы

In [56]:
print(df.shape)

(1000, 9)

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [57]:
print(df.describe())

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [58]:
# нет, так как count везде одинаковый
lens = [len(df[name]) for name in list(df.columns)]
print(lens)

[1000, 1000, 1000, 1000, 1000, 1000, 1000, 1000, 1000]

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [59]:
desk = df.describe()
means = list(desk.T['mean'])
res = {'mathd': means[0], 'reading': means[1], 'writing': means[2]}
print(res)

{'mathd': 66.089, 'reading': 69.169, 'writing': 68.054}

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [60]:
math = list(df['math score'])
reading = list(df['reading score'])
writing = list(df['writing score'])

course = list(df['test preparation course'])

if_completed_math, if_completed_reading, if_completed_writing, if_none_math, if_none_reading, if_none_writing = [], [], [], [], [], []

for i in range(1000):
  if course[i] == 'completed':
    if_completed_math.append(math[i])
    if_completed_reading.append(reading[i])
    if_completed_writing.append(writing[i])
  else: 
    if_none_math.append(math[i])
    if_none_reading.append(reading[i])
    if_none_writing.append(writing[i])    
    
mean_completed_math = sum(if_completed_math) / len(if_completed_math) 
mean_completed_reading = sum(if_completed_reading) / len(if_completed_reading)
mean_completed_writing = sum(if_completed_writing) / len(if_completed_writing)
mean_none_math = sum(if_none_math)/ len(if_none_math)
mean_none_reading = sum(if_none_reading) / len(if_none_reading)
mean_none_writing = sum(if_none_writing) / len(if_none_writing)

df_mean = pd.DataFrame({'course' : ['completed', 'none'], 'math' : [mean_completed_math, mean_none_math], 'reading' : [mean_completed_reading, mean_none_reading], 'writing' : [mean_completed_writing, mean_none_writing]})
print(df_mean)
print('Видим, что средний бал по каждому экзамену больше у тех, кто проходил курс')

      course       math    reading    writing
0  completed  69.695531  73.893855  74.418994
1       none  64.077882  66.534268  64.504673
Видим, что средний бал по каждому экзамену больше у тех, кто проходил курс

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [61]:
print(set(list(df['lunch'])))

{'free/reduced', 'standard'}

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [62]:
df.rename(columns={"parental level of education": "education", "test preparation course": "test preparation"}, inplace=True)
print(df.head(2))

   gender race/ethnicity          education     lunch test preparation  \
0  female        group B  bachelor's degree  standard             none
1  female        group C       some college  standard        completed

    group  math score  reading score  writing score
0  group1          72             72             74
1  group1          69             90             88

**Зафиксируем минимальный балл для сдачи экзамена**

In [63]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [64]:
math = list(df['math score'])
reading = list(df['reading score'])
writing = list(df['writing score'])
gender_list = list(df['gender'])

course = list(df['test preparation'])

if_completed_math, if_completed_reading, if_completed_writing, if_none_math, if_none_reading, if_none_writing = [], [], [], [], [], []

q_1, q_2, kol_completed, girls, girls_lose = 0, 0, 0, 0, 0
for i in range(1000):
  if math[i] >= passmark:
    q_1 += 1
    
  if math[i] >= passmark and course[i] == 'completed':
    q_2 += 1
  if course[i] == 'completed':
    kol_completed += 1
    
  if  gender_list[i] == 'female' and course[i] == 'none':
    girls += 1
  if gender_list[i] == 'female' and course[i] == 'none' and math[i] < passmark:  
    girls_lose += 1
    
q_1 = (q_1 / 1000) * 100
q_2 = (q_2 / kol_completed) * 100
q_3 = (girls_lose / girls) * 100
print(round(q_1, 4), round(q_2, 4), round(q_3, 4))
print('доля сдавших матан -', round(q_1, 4))
print('доля сдавших матан и проходивших курс -', round(q_2, 4))
print('доля девушек, не проходивших курс и не сдавших матан -', round(q_3, 4))

86.5 92.1788 20.9581
доля сдавших матан - 86.5
доля сдавших матан и проходивших курс - 92.1788
доля девушек, не проходивших курс и не сдавших матан - 20.9581

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [65]:
import time 
start = time.time()

means = df.groupby("race/ethnicity")['reading score'].apply(lambda x: x.mean())
print(means)
print()
minim = df.groupby("education")['writing score'].apply(lambda x: x.min())
print(minim)

end = time.time()
print("Execution time of the program is -", end - start)

race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64

education
associate's degree    35
bachelor's degree     38
high school           15
master's degree       46
some college          19
some high school      10
Name: writing score, dtype: int64
Execution time of the program is - 0.021016836166381836

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [66]:
start = time.time()

reading = list(df['reading score'])
writing = list(df['writing score'])
race = list(df['race/ethnicity'])
edu = list(df['education'])
a, b, c, d, e = 0, 0, 0, 0, 0
la, lb, lc, ld, le = 0, 0, 0, 0, 0
A, B, C, D, E, F = [], [], [], [], [], []
   #associate's degree    A
   #bachelor's degree     B
   #high school           C
   #master's degree       D
   #some college          E
   #some high school      F
for i in range(1000):
  if race[i] == 'group A':
    a += reading[i]
    la += 1
  if race[i] == 'group B':
    b += reading[i]
    lb += 1
  if race[i] == 'group C':
    c += reading[i]
    lc += 1
  if race[i] == 'group D':
    d += reading[i]
    ld += 1
  if race[i] == 'group E':
    e += reading[i] 
    le += 1
    
  if edu[i] == "associate's degree":
    A.append(writing[i])
  if edu[i] == "bachelor's degree":
    B.append(writing[i])  
  if edu[i] == "high school":
    C.append(writing[i])  
  if edu[i] == "master's degree":
    D.append(writing[i])  
  if edu[i] == "some college":
    E.append(writing[i])  
  if edu[i] == "some high school":
    F.append(writing[i])    
    
print(pd.DataFrame({'group A' : [a / la], 'group B' : [b/lb], 'group C' : [c/lc], 'group D' : [d/ld], 'group E' : [e/le]}))
print()
print(pd.DataFrame({"associate's degree" : [min(A)], "bachelor's degree" : [min(B)], 'high school' : [min(C)], "master's degree" : [min(D)], "some college" : [min(E)],  "some high school" : [min(F)]}))
end = time.time()
print("Execution time of the program is -", end - start)

     group A    group B    group C    group D    group E
0  64.674157  67.352632  69.103448  70.030534  73.028571

   associate's degree  bachelor's degree  high school  master's degree  \
0                  35                 38           15               46

   some college  some high school
0            19                10
Execution time of the program is - 0.02077794075012207

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [67]:
female = []
male = []
for i in range(1000):
  if df.iloc[i, 0]  == 'female':
    female.append(i)
  else:
    male.append(i)
    
# девушки:
df_female = df.iloc[female]
mean_math = df_female.groupby("education")['math score'].apply(lambda x: x.mean())
mean_reading = df_female.groupby("education")['reading score'].apply(lambda x: x.mean())
mean_writing = df_female.groupby("education")['writing score'].apply(lambda x: x.mean())

df_female_mean = pd.DataFrame({'№' : ["associate's degree", "bachelor's degree", "high school", "master's degree", "some college", "some high school"], 'math' : list(mean_math), 'read' : list(mean_reading), 'write' : list(mean_writing)})
print('ДЕВУШКИ')
print(df_female_mean)

# пацаны:
df_male = df.iloc[male]
mean_math = df_male.groupby("education")['math score'].apply(lambda x: x.mean())
mean_reading = df_male.groupby("education")['reading score'].apply(lambda x: x.mean())
mean_writing = df_male.groupby("education")['writing score'].apply(lambda x: x.mean())

df_male = pd.DataFrame({'№' : ["associate's degree", "bachelor's degree", "high school", "master's degree", "some college", "some high school"], 'math' : list(mean_math), 'read' : list(mean_reading), 'write' : list(mean_writing)})
print('ПАЦАНЫ')
print(df_male)
print(df.shape)

ДЕВУШКИ
                    №       math       read      write
0  associate's degree  65.250000  74.120690  74.000000
1   bachelor's degree  68.349206  77.285714  78.380952
2         high school  59.351064  68.202128  66.691489
3     master's degree  66.500000  76.805556  77.638889
4        some college  65.406780  73.550847  74.050847
5    some high school  59.296703  69.109890  68.285714
ПАЦАНЫ
                    №       math       read      write
0  associate's degree  70.764151  67.433962  65.405660
1   bachelor's degree  70.581818  68.090909  67.654545
2         high school  64.705882  61.480392  58.539216
3     master's degree  74.826087  73.130435  72.608696
4        some college  69.009259  64.990741  63.148148
5    some high school  67.840909  64.693182  61.375000
(1000, 9)

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [68]:
df['Math_PassStatus'] = list(df["math score"].apply(lambda x: 'P' if x >= 50 else 'F'))
math_P = len([x for x in list(df['Math_PassStatus']) if x == 'P'])

df["Reading_PassStatus"] = list(df["reading score"].apply(lambda x: 'P' if x >= 50 else 'F'))
reading_P = len([x for x in list(df["Reading_PassStatus"]) if x == 'P'])

df["Writing_PassStatus"] = list(df["writing score"].apply(lambda x: 'P' if x >= 50 else 'F'))
writing_P = len([x for x in list(df["Writing_PassStatus"]) if x == 'P'])

print('Сдали матан:', math_P, '  | Не cдали матан:', 1000 - math_P)
print('Сдали reading:', reading_P, '| Не сдали reading:', 1000 - reading_P)
print('Сдали writing:', writing_P, '| Не сдали writing:', 1000 - writing_P)
print(df.shape)

Сдали матан: 865   | Не cдали матан: 135
Сдали reading: 910 | Не сдали reading: 90
Сдали writing: 886 | Не сдали writing: 114
(1000, 12)

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [69]:
df['OverAll_PassStatus'] = list(range(1000))
for i in range(1000):
  if list(df['Math_PassStatus'])[i] == 'P' and list(df["Reading_PassStatus"])[i] == 'P' and list(df["Writing_PassStatus"])[i] == 'P':
    df.iloc[i, 12] = 'P'
  else:
    df.iloc[i, 12] = 'F'

print('Сдали все экзамены:', len([x for x in list(df["OverAll_PassStatus"]) if x == 'P']))

Сдали все экзамены: 812

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    90 и больше = A
####      [80;90) = B
####      [70;80) = C
####      [60;70) = D
####      [50;60) = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

In [70]:
def GetGrade(average_mark):
  if average_mark >= 90:
    return 'A'
  elif average_mark >= 80:
    return 'B'
  elif average_mark >= 70:
    return 'C'
  elif average_mark >= 60:
    return 'D'
  elif average_mark >= 50:
    return 'E'
  else:
    return 'F'

df['Grade'] = list(range(1000))

for i in range(1000):
  df.iloc[i, 13] = GetGrade((df.iloc[i, 6] + df.iloc[i, 7] + df.iloc[i, 8]) / 3)

print(df.groupby("Grade")['Grade'].apply(lambda x: len(x.sum())))

Grade
A     52
B    146
C    261
D    256
E    182
F    103
Name: Grade, dtype: int64

In [71]:
print(df.head(2))

   gender race/ethnicity          education     lunch test preparation  \
0  female        group B  bachelor's degree  standard             none
1  female        group C       some college  standard        completed

    group  math score  reading score  writing score Math_PassStatus  \
0  group1          72             72             74               P
1  group1          69             90             88               P

  Reading_PassStatus Writing_PassStatus OverAll_PassStatus Grade
0                  P                  P                  P     C
1                  P                  P                  P     B